*{
    box-sizing: border-box;
}
body{
    margin:0px;
    background-color: #050321 !important;
    font-family: 'Montserrat', sans-serif !important;

}

.nav{
    padding: 12px 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img1{
    margin:0 20px;
}

.w-100{
    width:100%;
}
.navright{
    margin-top: 18px;
    margin-left: auto;
}
.img{
    float: left;
}



ul{
    list-style: none;
    padding: 0;
    display: flex;
}
li{
    /* width:250px; */
    line-height: 42px;
    text-align: center;

}
.collapse a {
    color: #30336b !important;
    padding: 10px 20px;
    text-decoration: none !important;
    
    font-size: 20px;
    line-height: 42px;
    
}

.list a{
    color: floralwhite !important;
    font-size: 20px;
    line-height: 42px;
    padding: 10px 20px;
    text-decoration: none;
}


ul ul a{
    color: floralwhite;
    
}
ul ul a:hover{
    background-color: rgb(255, 255, 255,0.3);
}
.center{
    flex-direction: column;
    position: absolute;
    transform: translate3d(30px, 40px, 0px);
}

a:hover{
    color:#fbca2b !important;
    text-decoration: none !important;
}
.work{
    -webkit-font-smoothing: antialiased;
}
.cardright{
    display: flex;
    justify-content: flex-start;
}


.header{
    width:100%;
}
.meet h4{
    color:white;
    font-weight: 700;
}
.gradient{
    width:150px;
    height: 795px;
    margin: -50px 0 0 100px;
    background: linear-gradient(rgba(231, 70, 91,0.8),rgba(250, 205, 127,0.8));
}
.gradient img{
    position: relative;
    top:200px;
    left:-15px;
}
.maint h5{
    color:white;
    font-weight: 700;
}
.ml-120{
    margin-left: 180px;
}
.mr-6{
    margin-right: 80px;
}
.mb-6{
    margin-bottom: 10px;
}
.mtl-8{
    margin-top:150px;
    margin-left: 205px;
}
.contact{
    line-height: 25px;
}
.point{
    color:rgb(231, 70, 91);
}
.sc{
    line-height: 25px;
}
.ps-r{
    position: relative;
    top: -84px;
    left: 25px;
    font-weight: 500;
}
.ps-r1{
    position: relative;
    top: -244px;
    left: 25px;
    font-weight: 500;
}
.ex2{
    position: relative;
    top:-150px;
}
.skill{
    display: flex;
    flex-direction: column;
}
.ml-12{
margin-left: 12px;
}

@media (min-width:767px) {
    .d-md-none {
        color: #30336b;
        margin: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        float: right;
        font-size: 20px;
        display:none;
        
        
    }
    
}
@media (max-width:767px) {
    .list{
        position: absolute;;
        padding: 20px;
        float: right;
        width:100%;
        display:none;
    }    
}